<div class="row">
    <div class="menu-wrapper">
        <ul *ngFor="let menu of menus" class="menu-group collapse in" id="menuPanelListGroup">
            <li class="menu-group-item"  >
                <a data-toggle="collapse" href="#menuPanelSubListGroup{{ menu.id }}">
                <span>{{menu.title}}</span>
                <b class="pull-right glyphicon glyphicon-chevron-right"></b>
            </a>

            </li>
            <ul id="menuPanelSubListGroup{{ menu.id }}" class="submenu-group collapse">
                <li *ngFor="let submenu of menu.subMenus" class="submenu-group-item">
                    <span><a routerLink="{{submenu.url}}">{{submenu.title}}</a></span>
                </li>
            </ul>

        </ul>


    </div>
</div>