<div class="container-fluid">
        
            <div class="top-nav-bar row">
                <h3>{{title}}</h3>
            </div>
            <div class="row">
                <div class="nav-wrapper col-md-3 no-float">
                    <sidebar></sidebar>
                </div>
        
                <div class="container-fluid col-md-9 no-float">
                    <div class="panel">
                        <router-outlet></router-outlet>
                    </div>
        
                </div>
            </div>
        </div>